<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="connectionString" connectionString="Data Source=localhost;Initial Catalog=CarRentalDB;Integrated Security=True;" providerName="System.Data.SqlClient " />
	</connectionStrings>
	<appSettings>
		<add key="Key" value="1234567890123456" />
	</appSettings>
</configuration>